<launch>
  <arg name="planning_plugin" value="ompl_interface/OMPLPlanner" />
  <arg name="planning_adapters" value="industrial_trajectory_filters/UniformSampleFilter default_planner_request_adapters/AddTimeParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints" />

  <node name="dynamic_planner" pkg="dynamic_planner" type="dynamic_planner" output="screen">
    <param name="planning_plugin" value="$(arg planning_plugin)" />
    <param name="planner_configs" value="RRTConnectConfigDefault" />
    <param name="request_adapters" value="$(arg planning_adapters)" />
    <param name="sample_duration" value="0.1"/>
    <remap from="trajectory" to="hello"/>
  </node>
  <!-- When the planning pipeline is called within the dynamic_planner class,
       only 'planning_plugin' and 'request_adapters' params are used. 
       What the other params stand for? Are they actually used ??? -->
</launch>
